<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - Yummy Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="~/User/assets/img/favicon.png" rel="icon">
    <link href="~/User/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="~/User/https://fonts.googleapis.com" rel="preconnect">
    <link href="~/User/https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="~/User/https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/User/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/User/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/User/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/User/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/User/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/User/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Yummy
    * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container position-relative d-flex align-items-center justify-content-between">

            <a href="@Url.Action("index","home")" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                 
                <img src="~/user/assets/img/logo.png" />
                <h1 class="sitename">Maurya Fast Food</h1>
                <span>.</span>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="@Url.Action("index","home")" class="active">Home<br></a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#menu">Menu</a></li>
                   @*  <li><a href="~/User/#events">Events</a></li> *@
                    <li><a href="#book-a-table">Order Now</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                  @*   <li class="dropdown">
                        <a href="~/User/#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="~/User/#">Dropdown 1</a></li>
                            <li class="dropdown">
                                <a href="~/User/#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="~/User/#">Deep Dropdown 1</a></li>
                                    <li><a href="~/User/#">Deep Dropdown 2</a></li>
                                    <li><a href="~/User/#">Deep Dropdown 3</a></li>
                                    <li><a href="~/User/#">Deep Dropdown 4</a></li>
                                    <li><a href="~/User/#">Deep Dropdown 5</a></li>
                                </ul>
                            </li>
                            <li><a href="~/User/#">Dropdown 2</a></li>
                            <li><a href="~/User/#">Dropdown 3</a></li>
                            <li><a href="~/User/#">Dropdown 4</a></li>
                        </ul>
                    </li> *@
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

          @*   <a class="btn-getstarted" href="#book-a-table">Booka A Order Now</a> *@
            <a class="btn-getstarted" href="https://zomato.onelink.me/xqzv/icuk8ktv">Booka A Order Now</a>

        </div>
    </header>

    <div>
        @RenderBody();
    </div>

    <footer id="footer" class="footer dark-background">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div class="address">
                        <h4>Address</h4>
                        <p>Gali No 9, Ganpat Patil Nagar, New Link Rood , Borivali West, Mumbai 400103  </p>
                        @* <p>Borivali West, Mumbai 400103</p> *@
                        <p></p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>Contact</h4>
                        <p>
                            <strong>Phone:</strong> <span>+91 8424845523</span><br>
                            <strong>Email:</strong> <span>shaileshmaurya9004@gmail.com</span><br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        <h4>Opening Hours</h4>
                        <p>
                            <strong>Mon-Sun:</strong> <span>04:00PM - 11:00PM</span><br>
                          
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="~/User/#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                        <a href="~/User/#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="~/User/#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="~/User/#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>
                © <span>Copyright</span> <strong class="px-1 sitename"> Maurya Fast Food </strong> <span>All Rights Reserved</span>
            </p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://www.instagram.com/shaileshmaurya2?igsh=dGtlNTZydjV0aGhi">Er Shailesh Maurya</a> 
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="~/User/#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/User/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/User/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/User/assets/vendor/aos/aos.js"></script>
    <script src="~/User/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/User/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/User/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="~/User/assets/js/main.js"></script>

</body>

</html>
